html {
 color: white;
}

.container {
 border: black solid 10px;
 margin: 75px;
 display: grid;
 grid-template-rows: repeat(2, 100px);
 grid-template-columns: repeat(2, 100px);
 height: 600px;
 align-items: center;
 justify-items: center;

}

.item {
 padding: 10px;
 border: 10px solid rgb(164, 2, 2);
}

.item-1, .item-2, .item-3, .item-4 {
 background-color: rgb(253, 158, 174);
}

