/* Global styles */

body {
  margin: 0;
  font-family: Afacad, sans-serif;
  background-color: #ddd5d0;
  font-weight: lighter;
}

/* Remove default list styles */

/* Default button styles */

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.default-submit-button {
  font-size: 1.5em;
  background-color: #19d3c5; /* Blue button color */
  color: #192852; 
  padding: 10px 20px; /* Padding inside the button */
  border-radius: 5px; /* Rounded corners */
  margin:  20px; /* Add some space between the button and the text */
  width: 50%;
  border: 5px white;
}

/* Main grid container */
.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.nav-flexbox {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  color: #192852;
  background-color: #192852;
  height: 60%;
  font-size: 1.5em;
  height: fit-content;
  overflow: hidden;  /* Hide the overflow content */
  transition: max-height 0.4s ease; /* Slow down opening/closing of the menu */
}

.nav-flexbox a {
  text-decoration: unset;
  color: inherit;
}

/* Styling for the logout button */
.nav-item-logout {
  color: #192852;
  padding: 10px;
  margin-left: auto;
  background-color: #19d3c5;
  border-radius: 1.875em;
  margin-right: 50px;
  padding: 10px 20px; /* Padding inside the button */
  border: 5px white;
}

.nav-flexbox a:not(.nav-item-home, .nav-item-graphs, .nav-item-income, .nav-item-analysis, .nav-item-create):hover {
  background-color: #55eadd;
  color: #192852;
  padding: auto;
  transition: 0.3s;
}

/* Styling for individual nav items except for .nav-item-logout */
.nav-flexbox a:not(.nav-item-logout) {
  position: relative;
  padding: 10px;
  color: #ffffff;
  box-sizing: border-box;
}

/* The blue line animation for all nav items except for .nav-item-logout */
.nav-flexbox a:not(.nav-item-logout)::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;  /* Adjust height of the underline */
  background-color: #19d3c5; /* Blue line color */
  transition: width 0.4s ease; /* Controls the speed of the line appearing */
}

/* On hover, extend the blue line */
.nav-flexbox a:hover::after {
  width: 100%; /* The line grows to the full width of the nav item's text */
}

/* Undo the hover effect with slow removal of the line */
.nav-flexbox a::after {
  transition: width 0.4s ease; /* Slow undo of the line when unhovered */
}

/* Burger icon */
.burger {
  display: none;
  font-size: 2em;
  cursor: pointer;
  color: #19d3c5;
  padding: 10px;
  background-color: #192852;
  justify-content: center;
  align-items: center;
}

/* Media query for smaller screens for nav */
@media (max-width: 1000px) {
  .nav-flexbox {
    flex-direction: column;
    background-color: #192852;
    color: #192852;
    max-height: 0;  /* Start with a collapsed menu */
    overflow: hidden;  /* Hide content when collapsed */
    transition: max-height 0.3s ease;  /* Smooth transition for opening and closing */
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .burger {
    display: flex; /* Show the burger icon */
    justify-content: center;
    align-items: center;
  }

  /* Show the menu when the 'show' class is added */
  .nav-flexbox.show {
    max-height: 800px;  /* Large max-height for smooth transitions */
    justify-content: flex-start;
    align-items: center;
  }

  .burger.show {
    display: none; /* Hide the burger icon when the menu is open */
  }

  /* Styling for the login/logout button */
  .nav-item-logout {
    margin-right: auto; /* Push the button to the right */
    margin-bottom: 10px;
    padding: 10px 20px; /* Padding inside the button */
    border: 5px;
  }
}


/* inputs.html styles */ 

/* Styling for the main content */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-title-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  color: #192852;
  font-size: 2em;
  height: 75%;
}

.main-title-content-h1 {
  animation: fadeIn 3s;
  position: relative;
  text-align: center;
}

/* The blue line animation for all nav items except for .nav-item-logout */
.main-title-content-h1::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;  /* Adjust height of the underline */
  background-color: #192852; /* Blue line color */
  transition: width 1.2s ease; /* Controls the speed of the line appearing */
}

/* On hover, extend the blue line */
.main-title-content-h1:hover::after {
  width: 100%; /* The line grows to the full width of the nav item's text */
}

/* Undo the hover effect with slow removal of the line */
.main-title-content-h1 a::after {
  transition: width 0.4s ease; /* Slow undo of the line when unhovered */
}

/* Styling for the main content box */
.main-title-content-border-box {
  display: flex;
  background-color: #192852; /* Lighter background to contrast the border */
  margin: 20px auto; /* Center the box with some space */
  padding: 20px; /* Add some padding inside the box */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
  color: #ffffff; /* White text color */
  width: 80%; /* 80% of the parent container */
  justify-content: center;
  align-items: center;
}

.main-title-p {
  font-size: 1.5em;
  margin: 20px; /* Add some space between the text and the border */
  text-align: center; /* Center the text */
}

.main-title-content-border-box-button {
  background-color: white;
  color: #192852;
  border-radius: 5px; /* Rounded corners */
  margin: 20px; /* Add some space between the button and the text */
}

.main-title-content-border-box-button:active {
  color: #0a1021;
}


/* Modal styling */
.modal {
  position: fixed; /* Stay in place */
  display: none; /* Hidden by default */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(255, 255, 255, 0.2); /* White background with transparency */
  backdrop-filter: blur(10px); /* Apply the glass effect */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}


/* Modal Content/Box */
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #192852;
  margin: 0; /* Remove margin */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
  color: #ffffff; /* White text color */
  width: fit-content; /* Fit content width */
  max-width: 80%; /* Optional: limit maximum width */
}


/* Modal styling */
.modal {
  position: fixed; /* Stay in place */
  display: none; /* Hidden by default */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(255, 255, 255, 0.2); /* White background with transparency */
  backdrop-filter: blur(10px); /* Apply the glass effect */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}


/* Modal Content/Box */
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #192852;
  margin: 0; /* Remove margin */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
  color: #ffffff; /* White text color */
  width: fit-content; /* Fit content width */
  max-width: 80%; /* Optional: limit maximum width */
  height: 80%;
}


/* Modal internal content */
.modal-internal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  padding: 10px;
  width: 80%; /* Ensures consistent width for all inputs */
  font-family: Afacad, sans-serif;
}

/* Make all inputs, selects, and buttons uniform in width */
.modal-internal-content input, 
.modal-internal-content select, 
.modal-internal-content button, 
.modal-internal-content label {
  width: 100%; /* Consistent width */
  box-sizing: border-box; /* Includes padding and border in width */
}

input, option, select {
  font-size: 1em;
  padding: 10px;
  border-radius: 5px;
  border: 5px solid #19d3c5;
}

label {
  font-size: 1.5em;
}

.file-input {
  display: none;
}

.upload-button {
  font-size: 1000px;
  background-color: white;
  color: #192852;
  padding: 10px 20px; /* Padding inside the button */
  border-radius: 5px; /* Rounded corners */
  margin: 20px; /* Add some space between the button and the text */
}

/* The Close Button */
.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.input-modal-content {
  display: flex;
  justify-content:center ;
  align-items: center;
  background-color: #192852;
  margin: 0; /* Remove margin */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
  color: #ffffff; /* White text color */
  width: fit-content; /* Fit content width */
  max-width: 80%; /* Optional: limit maximum width */
}

/* budget.html styles */ 

.budget-main-header {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto; 
}

.budget-main-header-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.budget-main-header-shared-styles {
  display: flex;
  margin: 10px;
  color:#192852;
  border-radius: 10px;
  width:fit-content;
  padding: 20px;
  align-items: center;
  border-radius: 20px;;

}
.budget-main-header-title {
  display: flex;
  justify-content: center;
  grid-row-start: 1;
}

.budget-main-header-title-2 {
  display: flex;
  justify-content: center;
  grid-row-start: 2;
}

.budget-styled-words {
  color: #6935d3;
  font-weight: bold;
  position: relative;
  
}

.budget-styled-words::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;  /* Adjust height of the underline */
  background-color: #19d3c5; /* Blue line color */
  transition: width 0.9s ease; /* Controls the speed of the line appearing */
}

/* On hover, extend the blue line */
.budget-styled-words:hover::after {
  width: 100%; /* The line grows to the full width of the nav item's text */
}

/* Undo the hover effect with slow removal of the line */
.budget-styled-words a::after {
  transition: width 0.4s ease; /* Slow undo of the line when unhovered */
}

/* Paragraph styling */
.budget-main-header-p {
  display: flex;
  text-align: center;
  background-color: white;
  color: #192851;
  border-radius: 25px;
  width: 60%;
  padding: 25px;
  margin: 20px auto;  /* Center the paragraph and add space between elements */
  height: fit-content;
}

/* Styling for the list container */
.budget-main-header-list {
  grid-area: 2 / 1 / 2 / 1;
  display: flex;
  text-align: center;
  background-color: white;
  color: #192851;
  border-radius: 25px;
  width: 60%;
  padding: 25px;
  margin: 20px auto;  /* Center the list */
}

/* Styling for the default list */
.default-list {
  list-style: none; /* Remove default list styling */
  padding: 0;
  margin: 0;
  
}

/* Styling for list items */
.default-list li {
  font-weight: bold;
  font-size: 30px;

}

/* Styling for the link in the list */
.default-list a {
  text-decoration: none;
  color: #19d3c5;
}

.default-list a:hover {
  text-decoration: underline;
} 


.p-quotes {
  font-style: italic;
  font-size: larger;
}

/* Graphs.html styling */ 

.graphs-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  width: 100vw;
  min-height: 100vh; /* Use min-height instead of height */
  gap: 10px;
  padding-bottom: 20px; /* Add some padding at the bottom */
}

.full-width-header {
  grid-column: 1 / -1; /* Make the header span across the entire width */
  padding: 20px;
  color:#192851;
  text-align: center;
}

.graphs-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 0 20px;
}


.graph-item img {
  width: 20vh; /* Set a fixed width */
  height: 20vh; /* Set a fixed height */
  object-fit: contain; /* Maintain aspect ratio and fit inside the container */
  display: block;
  padding: 25px;
}
 
.graph-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  border: solid #ffffff 5px;
  transition: border-color 0.3s ease;
}

.graph-item:active {
  border: solid 5px;
}

.graph-item-1 {
grid-area: auto;
}

.graph-item-2 {
grid-area: auto;
}


/* create budget.html styling */

.main-grid-create {
  display: grid;
  grid-template-rows: repeat(2, minmax(250px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 60px;
  margin: 20px;
 }
 

 .item {
  padding: 10px;
  border-radius: 25px;;
 }
 
 .item-1, .item-2, .item-3, .item-4 {
  background-color:#ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
 }
 
 .item-1, .item-2, .item-3, .item-4 {
  background-color: #ffffff;
  border: 10px solid white;
 }

 .item:hover{
  border: 10px solid #192851;
 }
 
 .item:active{
  background-color:#19d3c5;
 }


 /* on click add a modal which pops up more detailed instructions */

 .create-modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1; /* Sit on top */
  color: white;
  border-radius: 10px;
  text-align: center;
  text-wrap: wrap;
  padding: 20px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(255, 255, 255, 0.2); /* White background with transparency */
  backdrop-filter: blur(10px); /* Apply the glass effect */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
 }


 .create-modal-instructions-1 p,
 .create-modal-instructions-2 p,
 .create-modal-instructions-3 p,
 .create-modal-instructions-4 p
 
 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size:larger;
    color: #000000;
    background-color: #ffffff;
    border: #000000 solid 10px;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding: 10px;
    width: 80%; /* Ensures consistent width for all inputs */
    border-radius: 25px;
    padding: 20px;; 
  }
