/* Global styles */
body {
  margin: 0;
  font-family: Quicksand, sans-serif;
  background-color: #F5F5F5;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Main grid container */
.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.nav-flexbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #192851;
  max-height: 500px; /* Default max-height for larger screens */
  overflow: visible; /* Ensure content is visible */
  transition: max-height 0.6s ease; /* Smooth transition for showing/hiding */
}

/* Styling for individual nav items */
.nav-item-home, .nav-item-graphs, .nav-item-income, .nav-item-analysis, .nav-item-logout {
  position: relative;
  padding: 10px;
  color: #ffffff;
}

/* The blue line animation */
.nav-flexbox a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;  /* Adjust height of the underline */
  background-color: #62defa; /* Blue line color */
  transition: width 0.4s ease; /* Controls the speed of the line appearing */
}

/* On hover, extend the blue line */
.nav-flexbox a:hover::after {
  width: 100%; /* The line grows to the full width of the nav item's text */
}

/* Undo the hover effect with slow removal of the line */
.nav-flexbox a::after {
  transition: width 0.4s ease; /* Slow undo of the line when unhovered */
}

/* Burger icon */
.burger {
  display: none;
  font-size: 2em;
  cursor: pointer;
  color: #ffffff;
  padding: 10px;
  background-color: #192851;
  justify-content: center;
  align-items: center;
}

/* Media query for smaller screens */
@media (max-width: 800px) {
  .nav-flexbox {
    display: flex;
    flex-direction: column;
    background-color: #192851;
    max-height: 0;  /* Collapsed by default */
    overflow: hidden;  /* Hide content when collapsed */
    transition: max-height 0.6s ease;  /* Smooth transition on opening and closing */
  }

  .burger {
    display: flex; /* Show the burger icon */
  }

  /* Show the menu when the 'show' class is added */
  .nav-flexbox.show {
    max-height: 500px;  /* Set the maximum height of the menu */
  }
}
